In [4]:
import pandas as pd
import numpy as np
import collections
import sys
print (sys.version)

2.7.12 |Anaconda custom (x86_64)| (default, Jul  2 2016, 17:43:17)
[GCC 4.2.1 (Based on Apple Inc. build 5658) (LLVM build 2336.11.00)]

In [2]:
df = pd.read_sas("/Users/admin/github_project/NACC_dt/grill11162017.sas7bdat")

In [13]:
asian = df.loc[df['RACE'] == 5]
white = df.loc[df['RACE'] == 1]

In [7]:
collections.Counter(df0) # Q 9: 1.white 2.black 3. indian 4. hawaii 5=asian 50. other 99 NA

Counter({1.0: 26620,
         2.0: 3516,
         3.0: 231,
         4.0: 30,
         5.0: 592,
         50.0: 758,
         99.0: 90})

In [12]:
x = asian['DEPDSEV'].values
collections.Counter(x)

Counter({-4.0: 19, 1.0: 99, 2.0: 58, 3.0: 13, 8.0: 403})

In [14]:
x = white['DEPDSEV'].values
collections.Counter(x)

Counter({-4.0: 819, 1.0: 5751, 2.0: 2618, 3.0: 507, 8.0: 16925})

In [5]:
df.head()

,NACCADC,NACCID,FORMVER,PACKET,NACCVNUM,VISITNUM,VISITMO,VISITDAY,VISITYR,NACCAVST,...,A1VISITYR,NACCACTV,NACCNURP,NACCNRMO,NACCNRDY,NACCNRYR,NACCNOVS,NACCDSMO,NACCDSDY,NACCDSYR
0,289.0,NACC000385,1.0,I,1.0,1,11.0,8.0,2006.0,7.0,...,2006.0,0.0,0.0,88.0,88.0,8888.0,1.0,88.0,88.0,8888.0
1,289.0,NACC000385,2.0,F,2.0,2,3.0,19.0,2008.0,7.0,...,2008.0,0.0,0.0,88.0,88.0,8888.0,1.0,88.0,88.0,8888.0
2,289.0,NACC000385,2.0,F,3.0,3,3.0,4.0,2009.0,7.0,...,2009.0,0.0,0.0,88.0,88.0,8888.0,1.0,88.0,88.0,8888.0
3,289.0,NACC000385,2.0,F,4.0,4,4.0,21.0,2010.0,7.0,...,2010.0,0.0,0.0,88.0,88.0,8888.0,1.0,88.0,88.0,8888.0
4,289.0,NACC000385,2.0,F,5.0,5,1.0,28.0,2011.0,7.0,...,2011.0,0.0,0.0,88.0,88.0,8888.0,1.0,88.0,88.0,8888.0